# Documentation and other stuff
Other/
Test/*.sav
Test/*.feh
Test/FE4/
Test/BattleAnimations/
Test/MapSprites/

# GBA roms (don't wanna distribute those on github!)
*.gba
*.GBA

# Executables & object files
bin/
obj/
dist/
.vs

# Nightmare modules
Modules/old/

# Macintosh hidden files
*.DS_Store
*._*
