<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EmblemMagic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="EditorSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FE_Editor_Suite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <EmblemMagic.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="RecentFilesMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UndoListMax" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PathCleanROMs" serializeAs="String">
                <value />
            </setting>
            <setting name="PathArrays" serializeAs="String">
                <value />
            </setting>
            <setting name="PathStructs" serializeAs="String">
                <value />
            </setting>
            <setting name="PathModules" serializeAs="String">
                <value />
            </setting>
            <setting name="PathPatches" serializeAs="String">
                <value />
            </setting>
            <setting name="PathCustomArrays" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCustomPathArrays" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomPathStructs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarnOverwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarnOverwriteSizeDiffer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarnOverwriteSeveral" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PromptRepoints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteToFreeSpace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathCustomStructs" serializeAs="String">
                <value />
            </setting>
        </EmblemMagic.Properties.Settings>
        <EditorSuite.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="RecentFilesMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UndoListMax" serializeAs="String">
                <value>50</value>
            </setting>
        </EditorSuite.Properties.Settings>
        <FE_Editor_Suite.Properties.Settings>
                <setting name="WindowLocation" serializeAs="String">
                        <value>0, 0</value>
                </setting>
                <setting name="RecentFilesMax" serializeAs="String">
                        <value>6</value>
                </setting>
        </FE_Editor_Suite.Properties.Settings>
    </userSettings>
</configuration>
